<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SiteSyncVersionBeta"
        tools:targetApi="31">
        <activity
            android:name=".ConfirmEmployeeDeletionActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmLocationDeletionActivity"
            android:exported="false" />
        <activity
            android:name=".PermanentlyDeleteLocationsActivity"
            android:exported="false" />
        <activity
            android:name=".PermanentlyDeleteEmployeesActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteLocationEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".activityKotlinFiles.adminViewSpecific.employeeManager.EditEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".activityKotlinFiles.adminViewSpecific.employeeManager.AddEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".activityKotlinFiles.adminViewSpecific.employeeManager.EmployeeManagerActivity"
            android:exported="false" />
        <activity
            android:name=".activityKotlinFiles.adminViewSpecific.locationManager.EditLocationsActivity"
            android:exported="false" />
        <activity
            android:name=".activityKotlinFiles.adminViewSpecific.locationManager.AddLocationActivity"
            android:exported="false" />
        <activity
            android:name=".activityKotlinFiles.adminViewSpecific.locationManager.LocationsActivity"
            android:exported="false" />
        <activity
            android:name=".activityKotlinFiles.employeeViewSpecific.ConfirmAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".activityKotlinFiles.adminViewSpecific.EmployeeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activityKotlinFiles.adminViewSpecific.AttendanceAdminViewActivity"
            android:exported="false" />
        <activity
            android:name=".activityKotlinFiles.employeeViewSpecific.AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".activityKotlinFiles.adminViewSpecific.MainActivityAdminView"
            android:exported="false" />
        <activity
            android:name=".activityKotlinFiles.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activityKotlinFiles.EditUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activityKotlinFiles.employeeViewSpecific.MainActivity"
            android:exported="true" />
    </application>

</manifest>